.nav {
    display: flex;
    flex-direction: row;
    padding: 0 1.5rem;
    justify-content: space-between;
}
.nav a {
    width: 100%;
    padding: 1rem 0;
    text-align: center;
    position: relative;
    color: var(--text-secondary);
}