.dialog {
	/* z-index: 99999999 !important;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw !important;
    height: 100vh !important; */
	min-width: 18rem;
	max-width: 24rem;
	width: 100%;
	background-color: var(--background-primary);
	padding: 0;
	border-radius: 12px;
	border: none;
	/* overflow: none;
    overscroll-behavior: none; */
	opacity: 0;
	transform: scale(0.8);
	transition:
		opacity 0.3s ease,
		transform 0.3s ease;
}

dialog[open] {
	opacity: 1;
	transform: scale(1);
}

.dialog::backdrop {
	background-color: rgba(0, 0, 0, 0.5) !important;
	opacity: 0;
	transition: all 0.3s ease;
}

dialog[open]::backdrop {
	opacity: 1;
}

.content {
	min-width: 18rem;
	max-width: 24rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	padding: 1.5rem;
	overflow: auto;
}

.input {
	display: block;
	width: 100%;
	border-radius: 8px;
	height: 2.25rem;
	background-color: var(--background-secondary);
	outline: none;
	border: none;
	padding: 0 0.75rem;
}

.submit {
	text-align: center;
	font-weight: 600;
}

.title {
	width: 100%;
}

.title h3 {
	font-weight: 500;
	font-size: 1.125rem;
	margin-bottom: 1rem;
}

.alternate {
	height: 2.25rem;
	display: flex;
}

.alternate button:hover {
	text-decoration: underline;
}
