.entry {
	position: relative;
	padding: 1.5rem;
	display: flex;
	align-items: flex-start;
	gap: 1rem;
	animation: incomingMessageAnimation 0.15s linear;
	transition: background-color 0.2s ease;
}

.mini {
	padding: 0.5rem;
}

@media only screen and (max-width: 540px) {
	.entry {
		padding: 1rem;
		gap: 0.75rem;
	}
}

.name {
	font-weight: 500;
	position: relative;
	z-index: 1;
	width: fit-content;
	display: block;
	color: var(--text-primary);
}

.handle {
	position: relative;
	display: block;
	width: fit-content;
	z-index: 1;
	color: var(--text-secondary);
}

.hashtag {
	font-weight: 600;
}

.subtitle {
	display: block;
	width: fit-content;
	color: var(--text-secondary);
}

.description {
	word-break: break-word;
	white-space: pre-wrap;
	color: var(--text-primary);
	padding-top: 0.5rem;
	z-index: 1;
	position: relative;
}

.description a {
	color: var(--link-primary);
}

.description a:hover {
	text-decoration: underline;
}

@media (hover: hover) and (pointer: fine) {
	.name:hover,
	.handle:hover {
		text-decoration: underline;
	}
	.entry:hover {
		background-color: var(--background-secondary);
	}
}

@keyframes incomingMessageAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.wrapper {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}
