.section {
	width: 100%;
	align-self: center;
	justify-self: center;
	border: 1px solid var(--border);
	border-radius: 16px;
	overflow-x: hidden;
	height: fit-content;
	max-height: 17.5rem;
	padding-bottom: 0.5rem;
	flex-shrink: 0;
}

.title {
	z-index: 2;
	background-color: var(--background-primary);
	position: sticky;
	top: 0;
	padding: 0 1rem;
	height: 3rem;
	display: flex;
	align-items: center;
	font-weight: 500;
}

.hashtag {
	font-weight: 600;
}

.subtitle {
	font-size: 0.75rem;
	color: var(--text-secondary);
}

.item {
	position: relative;
	padding: 0.5rem 1rem;
	display: flex;
	gap: 0.75rem;
	align-items: center;
	transition: background-color 0.2s ease;
	min-height: 3.5rem;
}

.name {
	position: relative;
	z-index: 1;
	width: fit-content;
	display: block;
	color: var(--text-primary);
}

@media (hover: hover) and (pointer: fine) {
	.item:hover {
		background-color: var(--background-secondary);
	}
	.name:hover {
		text-decoration: underline;
	}
}

.wrapper {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}
