.card {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	padding: 1.25rem;
	border-bottom: 1px solid var(--border);
}

.text {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.card h3 {
	font-weight: 550;
	margin: 0;
}

.title {
}

.description {
}
