.profile {
	border-bottom: 1px solid var(--border);
}

.button {
	background-color: var(--button-secondary);
	color: var(--secondary-button-text);
	border-radius: 2.25rem;
	display: flex;
	gap: 0.5rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: fit-content;
	height: 2.25rem;
	justify-content: center;
	align-items: center;
	vertical-align: middle;
	padding: 0 1rem;
	outline: none;
	border: none;
	transition:
		background-color 170ms ease,
		color 170ms ease,
		border 170ms ease;
	cursor: pointer;
	font-weight: 500;
}

.banner {
	user-select: none;
	width: 100%;
	max-height: 12.5rem;
	background-color: var(--background-tertiary);
	height: 12.5rem;
}
.banner img {
	width: 100%;
	height: 100%;
	aspect-ratio: 3 / 1;
	object-fit: cover;
}

.avatar {
	user-select: none;
	position: absolute;
	transform: translate(0, -50%);
	gap: 1rem;
	height: 8rem;
	width: 8rem;
	background-color: #2b2d30;
	border-radius: 50%;
	overflow: hidden;
	outline: 0.4rem solid var(--background-primary);
	margin-left: 1.5rem;
	border: 0px solid rgba(255, 255, 255, 0);
}
.avatar img {
	width: 100%;
	height: 100%;
	vertical-align: middle;
	object-fit: cover;
	aspect-ratio: 1 / 1;
	border-radius: 50%;
	border: 0px solid rgba(255, 255, 255, 0);
}

.name {
	font-size: 1.5rem;
}

.handle {
	color: var(--text-secondary);
}

.description {
	margin-top: 1rem;
	word-break: break-word;
	white-space: pre-wrap;
}

.description a {
	color: var(--link-primary);
}

.description a:hover {
	text-decoration: underline;
}

.info {
	padding: 1.5rem;
}

.buttons {
	height: 36px;
	display: flex;
	gap: 0.5rem;
	flex-direction: row;
	justify-content: flex-end;
	margin: 1rem 1.5rem 0.75rem 1.5rem;
}

.counters {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	gap: 1.5rem;
	padding-top: 1.5rem;
}

.counters a {
	color: var(--text-secondary);
}
.counters span {
	color: var(--text-primary);
}

@media only screen and (max-width: 540px) {
	.info {
		padding: 1rem;
		padding-top: 1.5rem;
	}

	.buttons {
		margin: 1rem 1rem 0.75rem 1rem;
	}
}

.nav {
	display: flex;
	flex-direction: row;
	padding: 0 1.5rem;
	justify-content: space-between;
}
.nav a {
	width: 100%;
	padding: 1rem 0;
	text-align: center;
	position: relative;
	color: var(--text-secondary);
}

.nav a:active::before {
	content: '';
	position: absolute;
	bottom: -1px;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: var(--link-primary);
}

@media (hover: hover) and (pointer: fine) {
	.button:hover {
		font-weight: 500;
		background-color: var(--button-secondary-hover);
	}
	.nav a:hover::before {
		content: '';
		position: absolute;
		bottom: -1px;
		left: 0;
		width: 100%;
		height: 2px;
		background-color: var(--link-primary);
	}
}

@media only screen and (max-width: 540px) {
	.nav {
		padding: 0 1rem;
	}
	.nav a {
		padding: 0.75rem 0;
	}
}

.fallback {
    min-height: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-secondary);
}